table {
  margin: auto;
}
td {
  padding: 10px;
}
h5 {
  margin: 0px 0;
  font-weight: normal;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5ffff;
  padding-top: 60px;
}
input {
  text-align: center;
}
.fieldSize {
  margin: 20px;
}
.form-control {
  width: 116px;
}
.well {
  margin-left: 0;
  min-height: 20px;
  padding: 20px;
}
.checkbox {
  float: right;
}
.center {
  text-align: center;
}
.btn-large {
  margin: 15px 0px 10px 0px;
}
.containedSensa {
  width: 240px;
  margin: 35px auto;
}
.DoseLiquid {
  width: 314px;
  margin: 35px auto;
}
.DoseAir {
  width: 166px;
  margin: 35px auto;
}
.sensa {
  width: 77px;
}
.Activate {
  width: 170px;
  margin: 10px auto;
}
.Incubate {
  width: 260px;
  margin: 10px auto;
}
.GrowLights {
  width: 150px;
  margin: 10px auto;
}
.RGBbuttons {
  width: 350px;
  margin: 10px auto;
}
.RGBLights {
  width: 480px;
  margin: 0px auto;
}
#arkNav {
  display: inline-block;
  width: 587px;
  margin-bottom: -5px;
}
#slider-incubate {
  margin: 20px;
}
#red,
#green,
#blue,
#slider-grow {
  float: left;
  clear: left;
  width: 220px;
  margin: 15px;
}
#swatch {
  width: 120px;
  height: 100px;
  margin-top: 18px;
  margin-left: 350px;
  background-image: none;
}
#red .ui-slider-range {
  background: #ef2929;
}
#red .ui-slider-handle {
  border-color: #ef2929;
}
#green .ui-slider-range {
  background: #8ae234;
}
#green .ui-slider-handle {
  border-color: #8ae234;
}
#blue .ui-slider-range {
  background: #729fcf;
}
#blue .ui-slider-handle {
  border-color: #729fcf;
}
